<% if not @assignings.first.nil? %>
	<%= Admin.find(@assignment.author_id).email%>
	<% @assignings.each do |assigning| %>
		<h1><%= assigning.question.statement %></h1>
		<h4><%= assigning.question.answer %></h4>
		<%= link_to "Remove", assigning_path(id: assigning.id,assignment_id: @assignment.id), :method => :delete %>
	<% end %>
<% else %><h2>Empty Hai</h2>
<% end %>
<h2>Add Question</h2>
<ul>
	<% Question.all.each do |question| %>
		<li>
			<%= link_to question.statement, question_path(question.id) %>
			<a href ="<%= new_assigning_url(assignment_id: @assignment.id,question_id: question.id)%>"> Add question </a>
		</li>
	<% end %>
</ul>
<a href ="<%= new_question_url(assignment_id: @assignment.id)%>"> Add a custom question </a>
