<% if admin_signed_in? %>
<a class="btn btn-secondary my-3" href="<%= new_assignment_url()%>" role="button">New Assignment </a>
<% if not @assignments.nil? %>
<ul class="list-group py-5" >
	<% @assignments.each do |assignment| %>
	<li class="list-group-item">
		<div class="bg-light">
			<div class="row">
				<div class="col-sm-9">
					<%= link_to assignment.topic, assignment_path(assignment.id)  %>
					<div class="row">
						<div class="col-8 col-sm-6">
							<a href = "<%= edit_assignment_url(assignment.id)%>">Edit</a>
						</div>
						<div class="col-4 col-sm-6">
							<%= link_to 'Remove', assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
	<% end %>
</ul>
<% else %>
<h2>Wow Such Empty</h2>
<% end %>
<% else %>
<h2><a href="<%= new_admin_session_path%>">
	<i class="fa fa-sign-in"></i> Login as Admin 
</h2>
<% end %>